<header><h1>Bravo Personal Score Library Catalogue</h1></header>
<br><br>
<h2>Edit this entry</h2>

<form method="POST" action="/scores/<%= @score.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    Title: <input type="text" value="<%= @score.title %>" name="title"><br />
    Composer: <input type="text" value="<%= @score.composer_first %>" name="composer_first"><input type="text" value=" <%= @score.composer_last %>" name="composer_last"><br />
    Genre: <input type="text" value="<%= @score.genre %>" name="genre"><br />
    Year: <input type="text" value="<%= @score.year_composed %>" name="year_composed"><br />
    <br>
    <input type="submit">
    </form>
    <form action="/scores">
    <input type="submit" value="Back" />
</form>