<header><h1>Bravo Personal Score Library Catalogue</h1></header>
<br><br>
<h2>Welcome Back, <%=current_user.name%> </h2><br>
<h3>You currently have the following scores in your library:</h3><br />
<div class="dropdown">
  Sort By:
  <div class="dropdown-content">
    <a href="/scores">Title</a>
    <a href="/scores/sort-by-composer">Composer</a>
  </div>
</div><br/ >
<ul>
<% @scores.each do |score| %>
<li><a href="/scores/<%=score.id%>">    <%= score.title %></a> | <%= score.composer_first %> <%= score.composer_last %></li><br />
<% end %>

<form action="/scores/new">
<input type="submit" value="Add A New Score" />
</ul>